@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    /* scroll-snap-type: y mandatory;    */
    scroll-behavior: smooth;
    /* scroll-padding-top: 10vh; */
}

section {
    scroll-snap-align: start;
}

body {
    font-family: 'Poppins', sans-serif;
}

.new_boxshadow{
    
    box-shadow:  10px 10px 20px #b0b8d617,10px 10px 15px -5px #b0b8d6
}
nav {
    box-shadow: 0 10px 10px 20px #b0b8d617,17px -31px 17px 32px #b0b8d6;
}
  
